/* general */
body {
    margin: 0;
    padding:0;
    background: white;    
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

section {
    max-width: 1920px;
    min-width: 900px;
    width: 100%;
    margin: 0 auto;
}

nav {
    height: 100px;
}

/* menu */
.menu {
    float: right;
    margin: 40px 50px 0 0;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

.menu li a {
    color: #92929C;
}

.menu li a:hover {
    color: #72727C;
}

.logo {
    float: left;
    margin: 30px 0 0 40px;
}

/* intro*/
.intro {
    text-align: center;
    margin-bottom: 20px;
}
.intro h1 {
    margin-top: 75px;
    font-size: 47.5px;
    font-weight: bold;
}

.intro h2 {
    font-size: 20px;
    font-weight: bold;
    color: #92929C;
}

.champmail {
    border: 0;
    border-radius: 50px 0 0 50px;
    height: 50px; 
    width: 350px;
    box-shadow: -1px 5px 15px;
    margin: 20px -80px 0 0;
    padding-left: 20px;
}

.btncontact {
    display: inline-block;
    border-radius: 50px;
    padding: 17px 0; 
    width: 150px;
    background: #5168EC;
    color:white;
    box-shadow: -1px 5px 15px;
}

.btncontact:hover {
    background: rgb(139, 154, 241);
}

.img1 {
    width: 75%;
    margin: 30px 100px 100px 100px;
}

/* section avec z-index*/
.notes, .wiki, .tasks {
    width: 40%;
    height: 40%;
    margin-left: 60px;
    padding: 20px;
    border-radius: 10px;
}

.notes {
    position: absolute;
    z-index: 1;
    box-shadow: -1px 5px 15px rgba(0,0,0,0.30);
}

.wiki {
    position: absolute;
    z-index: 2;
    box-shadow: -1px 5px 15px rgba(0,0,0,0.30);
}

.tasks {
    position: absolute;
    z-index: 3;
    box-shadow: -1px 5px 15px rgba(0,0,0,0.30);
}

.imgnotes {
    max-width: 100%;
    max-height: 100%;
}

.imgwiki {
    max-width: 100%;
    max-height: 100%;
}

.imgtasks {
    max-width: 100%;
    max-height: 100%;
}







