body {
    background: white;
    min-width: 900px;
    font-family: FixEmoji,Geomanist,sans-serif;
}

.menu {
    display: inline-block;
    float: right;
    margin-right: 5%;
}

.elem_menu {
    display: inline-block;
    width: 100px;
    margin-top: 1%;
    background-color: white;
	text-align: center;
    color: black;
}

.logo {
    float: left;
    margin-left: 3%;
}

.txt1 {
    perspective: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    font-size: 300%;
    font-weight: bold;
}

