body {
    background: white;
}

.menu {
    display: inline-block;
    float: right;
    margin-right: 5%;
}

.elem_menu {
    display: inline-block;
    width: 100px;
    margin-top: 1%;
    background-color: white;
	text-align: center;
    color: black;
}

.logo {
    float: left;
    margin-left: 3%;
}

